<ons-page ng-controller="KintaiController as kintai" ng-show="kintai.showPage(app.currentTab)">
  <ons-toolbar>
    <div class="left">
     <ons-toolbar-button ng-click="app.toggle();"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">入退出履歴</div>
  </ons-toolbar>

  <ons-scroller>
  <ons-list>
    <ons-list-item ng-repeat="item in items">
      <ons-row>
        <ons-col width="80px">{{item.name}}</ons-col>
        <ons-col width="80px">{{item.type}}</ons-col>
        <ons-col width="100px">{{item.timestr}}</ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>
  </ons-scroller>
</ons-page>
